* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 82, 136);

}

li {
  list-style-type: none;
}

.App {
  padding: 10px;
}

.link_create, .link_close {
  display: inline-block;
  padding: 1px 8px;
  margin-bottom: 5px;
  margin-left: 5px;

  border: 1px solid rgb(0, 82, 136);
  
  text-decoration: none;
  text-align: center;
}

.button_publish {
  padding: 5px;

  border: 1px solid rgb(0, 82, 136);
  background-color: #fff;
  cursor: pointer;
}

.smallPost, .newPost {
  padding: 10px;
  width: 250px;
  
  border: 1px solid #000000
}

.newPost{
  text-align: end;
  margin-bottom: 20px;
}

.textarea {
  width: 228px;
  height: 150px;
  margin-bottom: 10px;
}

.smallPost {
  width: 250px;
  margin-bottom: 15px;
}

.postContent {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  
  border: 1px solid #000000;
}

.bigPost {
  width: 300px;
  padding: 10px;

  text-align: end;
  
  border: 1px solid #000000;
}

.bigPost_content {
  text-align: start;
}

.avatar {
  width: 100px;
  height: 100px;
}
